@import "./Variable.css";

.inputs {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--main-padding);
	background-color: var(--card-background);
	border-radius: 0 0 5px 5px;
}

.inputs .taskInput input {
	border-radius: 20px;
	border: 1px solid var(--secondary-color);
	padding: 8px 12px;
	outline: none;
	color: var(--secondary-color);
	width: 130%;
	font-family: Poppins, serif;
	font-size: 13px;
}

.inputs .taskAdd button {
	border-radius: 50%;
	padding: 10px 13px;
	background-color: rgb(255, 91, 91);
	border: none;
	cursor: pointer;
}

.inputs .taskAdd button i {
	color: #fff;
	font-size: 11px;
}
