@import "./Variable.css";

.listContainer {
	height: 300px;
	overflow-y: scroll;
	/* margin: var(--main-margin); */
}

.list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--task-color);
	color: var(--secondary-color);
	padding: var(--main-padding);
	/* height: 100px; */
}

.listItems {
	display: flex;
	align-items: center;
}

.listItems input {
	transform: scale(1.1);
	margin-right: 12px;
}

.listItems p {
	margin: 12px 0;
	font-size: 14px;
}

.options {
	color: var(--secondary-color);
}

.strike {
	text-decoration: line-through;
}

.btn-container {
	display: flex;
	gap: 10px;
	align-items: center;
}

.btn-container i {
	cursor: pointer;
}
